
:root{
    --blue: #077EEB;
    --light-blue: #B5DDFF;
    --white: #ffffff;
    --purple: #9792E4;
    --gold: #FDC15F;
    --light-black: #333333;
    --light-gray: #484848;

    /* font size */

    --sz-h2: 3em;
    --sz-h3: 2em;
    --sz-h4: 1.5em;
    --sz-p: 1.1em;
    --sz-a: 1em;
    --sz-icon: 6em;
    --sz-burger: 2em;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
 

/* header settings */
header{
    background-color: var(--blue);
    color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color: var(--white);
}
.burger-menu{
    font-size: var(--sz-burger);
}








/* footer settings */
footer section{
    height: 300px;
}











/* display flex setting align center*/







/* text settings */
.text-center{
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}
.italic{
    font-style: italic;
}
.bolder{
    font-weight: bolder;
}
.line__height{
    line-height: 1.7;
}






/* container setting */
.container{
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
}
.container-small{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
.margin__auto{
    margin: 0 auto;
}
.max-width{
    max-width: 500px;
}



/* padding - margin */
.p-L-R-20{
    padding: 0 20px;
}
.p-T-B-20{
    padding: 20px 0;
}
.p-all-20{
    padding: 20px;
}
.p-L-T-R-20{
    padding: 20px 20px 0 20px;
}
.p-all-15{
    padding: 15px;
}
.p-B-60{
    padding-bottom: 60px;
}
.p-B-40{
    padding-bottom: 40px;
}
.p-T-40{
    padding-top: 40px;
}
.p-T-B-40{
    padding: 40px 0;
}
.p-all-30{
    padding: 30px 15px;
}
.m-T-20{
    margin-top: 20px;  
}
.m-T-30{
    margin-top: 30px;  
}
.m-T-60{
    margin-top: 60px;  
}
.m-T-50{
    margin-top: 50px;  
}
.m-T-40{
    margin-top: 40px;  
}
.m-B-50{
    margin-bottom: 50px;  
}
.m-B-30{
    margin-bottom: 40px;  
}
.m-B-20{
    margin-bottom: 20px;  
}
.m-T-120{
    margin-top: 120px;
}
.m-T-B-30{
    margin: 30px 0;
}
.m-L-R-60{
    margin: 0 40px;
}
.p-L-R-20{
    padding: 0 25px;
}
.m-R-10{
    margin-right: 10px;
}
.m-L-10{
    margin-left: 10px;
}







/* colore text / color container settings */
.bg__blue{
    background-color: var(--blue);
}
.bg__light__blue{
    background-color: var(--light-blue);
}
.bg__light__black{
    background-color: var(--light-black);
}
.bg__purple{
    background-color: var(--purple);
}
.bg__white{
    background-color: var(--white);
}
.blue{
    color: var(--blue);
}
.light__blue{
    color: var(--light-blue);
}
.light__black{
    color: var(--light-black);
}
.purple{
    color: var(--purple);
}
.white{
    color: var(--white);
}
.gold{
    color: var(--gold);
}
.light__gray{
    color: var(--light-gray);
}







/* font-size settings */
.sz-h2{
    font-size: var(--sz-h2);
}
.sz-h3{
    font-size: var(--sz-h3);
}
.sz-h4{
    font-size: var(--sz-h4);
}
.sz-p{
    font-size: var(--sz-p);
}
.sz-a{
    font-size: var(--sz-a);
}
.sz-icon{
    font-size: var(--sz-icon);
}


/* position relative / absolute */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    left: 150px;
    top: 0;
    font-size: 70px;
    z-index: 2000;
    color: var(--purple);
}




/* button settings */
.btn-blue{
    background-color: var(--blue);
    width: 260px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px; 
    cursor: pointer; 
}
.btn-purple{
    background-color: var(--purple);
    width: 250px;
    height: 45px;
    line-height: 45px;
    border-radius: 25px;  
    cursor: pointer;
}
.btn-purple-long{
    background-color: var(--purple);
    width: 280px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    cursor: pointer;  
}
.btn-white{
    background-color: var(--white);
    width: 340px;
    height: 70px;
    line-height: 70px;
    border-radius: 40px;  
    margin: 0 auto;
    cursor: pointer;
}
.btn-white-small{
    background-color: var(--white);
    padding: 8px 20px;
    border-radius: 20px; 
    cursor: pointer; 
}




/* container border radius settings */
.radius-small{
    border-radius: 20px;
}
.radius-big{
    border-radius: 30px;
}





/* img size */
.img-100{
   width: 100%;
}
.img-80{
   width: 80%;
}
.block{
    display: block;
}
.contain-circle{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    
}
.img-circle{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.start{
    margin: 0;
}
.circle-arrow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 70px;
    font-size: 2em;
    cursor: pointer;
}


nav .list-menu{
    display: none;
}
nav .list-menu-drop{
    display: none;
}


@media screen and  (min-width: 380px) and (max-width: 767px){
    .container{
        max-width: 600px;
    }
    .container-small{
        max-width: 600px;
    }
    nav .list-menu-drop{
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        background-color: var(--blue);
        border-radius: 0 0 10px 10px;
        left: 0;
        top: 100%;
        transform: translateY(-120%);
    }

    
    nav .list-menu-drop ul{
        display: block;
        padding: 30px;  
    }
    nav .list-menu-drop ul li{
        padding: 20px 0;   
    }
   
    :checked ~ nav .list-menu-drop{
        transform: translateY(0);
        
        
        
    }

    
}




@media screen and  (min-width: 768px) and (max-width: 1100px){
    .container{
        max-width: 1000px;
    }
    .container-small{
        max-width: 1000px;
    }

    
    
    #col-demo-app .d-flex{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #col-demo-app .card:first-child{
        width: calc((100% / 3) * 2);
        padding: 10px;
    }
    #col-demo-app .card{
        width: calc(100% / 3) ;
        display: flex;
        flex-flow: row wrap;
        padding: 10px;
    }
    #col-demo-app .img-100{
        width: 60%;
        margin-left: 30px;
    }
    #col-planning .row-img{
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    #col-planning .img-75{
        width: 70%;
        padding: 50px 0;   
    }
    #col-planning .img-70{
        width: 70%;      
    }
    #col-planning p{
        
    }
    #col-testimonials .card{
        display: flex;
        align-items: center;
    }
    #col-testimonials .card div:first-child{
        margin-right: 10px;  
    }
    #col-testimonials .text-left{
        text-align: left;  
    }
    #col-quality .d-flex{
        display: flex;
        flex-flow: row wrap;
    }
    #col-quality .card{
        width: calc(100% / 2);
        padding: 10px;
    }
    #col-about-us .d-flex{
        display: flex;
        justify-content: space-between;
    }
    #col-about-us .card:nth-child(1){
        margin-right: 45px;
    }
    #col-about-us .card:nth-child(2) h3{
        font-size: 1.4em;
        margin-top: 20px;
    }

    #footer-privacy .container{
        max-width: 600px;
        margin: 0 auto;
    }
    
   
    
}



@media screen and (min-width: 1101px){
    
    nav .list-menu{
        display: block;
    }
    nav .list-menu ul li{
        padding: 0 20px;
    }
    nav .burger-menu{
        display: none;
    }
    #col-demo-app .d-flex {
        display: flex;
        flex-flow: row wrap; 
        justify-content: center;   
    }
    #col-demo-app .d-flex .card {
        display: flex;
        justify-content: center;
          
    }
    #col-demo-app .card .card-row {
        display: flex;
        align-items: flex-end; 
          
    } 
    #col-demo-app .l{
        margin-bottom: 80px;
    } 
    #col-demo-app .l, #col-demo-app .r{
        width: 50%;  
    } 
    #col-demo-app .card .card-row .img-100{
        width: 100%;  
    } 
    #col-demo-app .card:first-child{
        width: calc((100% / 3) * 2);
       
    }
    #col-demo-app .card{
        width: calc(100% / 3);
        height: 500px;
        padding: 10px;   
    }
    
   
    #col-planning .d-flex{
        display: flex;
        align-items: end;
    }
    #col-planning .l{
        width: calc(53%);
    }
    #col-planning .r{
        width: calc(47%);
    }
    #col-planning .card:first-child{
        padding-right: 30px;
    }
    #col-planning .card:last-child{
        padding-left: 30px;
    }
    #col-planning .card:first-child img{
        margin-bottom: 80px;
    }
    .card .row-img{
        width: 70%;
        margin: 0 auto;
    }
    #col-planning .card:last-child{
        padding-left: 20px;
    }



    #col-testimonials .card{
        display: flex;
        align-items: center;
    }
    #col-testimonials .card .contain-circle{
        max-width: 200px;   
    }
    #col-testimonials .card div:first-child{
        max-width: 200px;
        margin-right: 10px;     
    }
    #col-testimonials .text-left{
        text-align: left;
    }

    
    #col-quality .d-flex{
        display: flex;
        flex-flow: row wrap;
    }
    #col-quality .card{
        width: calc(100% / 3);
        padding: 10px;
    }
    
    
    #col-about-us .d-flex{
        display: flex;
        justify-content: space-between;
    }
    #col-about-us .card:nth-child(1){
        margin-right: 70px;
    }
    #col-about-us .l{
        max-width: 50%;
        
    }
    #col-about-us .card:nth-child(2) h3{
        font-size: 1.4em;
        margin-top: 20px;
    }

    


    #footer-privacy .container{
        max-width: 600px;
        margin: 0 auto;
    }
    
}






